/*
* BreakPoints
* 1000px 이상: 태블릿
* 740px 이상: 모바일
*/

@media (max-width: 1000px) {
  /* COMMON */
  .inner {
    max-width: 692px;
  }

  /* common / info */
  .info {
    max-width: 230px;
  }
  .infos--large .info {
    max-width: 288px;
  }
  .info .icon {
    transform: scale(0.8);
    margin: -30px 0 -24px -32px;
  }
  .info p {
    font-size: 19px;
    line-height: 1.4;
  }
  .info a.link {
    margin-top: 24px;
  }

  /* Header */
  header .inner {
    padding: 0 10px;
  }

  /* Hero */
  .hero .inner {
    padding-bottom: 80px;
  }
  .hero h1 {
    width: 166px;
    height: 68px;
    transform: translate(448px, 165px);
  }
  .hero h2 {
    width: 515px;
    height: 95px;
  }
  .hero .figures {
    height: 584px;
    margin-bottom: 14px;
  }
  .hero figure {
    transform: translate(70px, -24px);
  }
  .hero figure img {
    width: 540px;
  }
  .hero figure figcaption .caption-camera {
    transform: scale(0.8) translate(-9px, 524px);
  }
  .hero figure figcaption .caption-chip {
    transform: scale(0.8) translate(510px, 422px);
  }
  .hero figure figcaption .caption-storage {
    transform: scale(0.8) translate(556px, 556px);
  }

  /* Power */
  .power {
    margin-top: 80px;
  }
  .power .multiple-apps h1 {
    width: 310px;
    height: 180px;
  }
  .power .multiple-apps .figures {
    height: 503px;
  }
  .power .multiple-apps figure {
    transform: translate(71px, 0);
  }
  .power .multiple-apps figure img {
    width: 682px;
  }
  .power .multiple-apps figcaption {
    transform: scale(0.8) translate(532px, -58px);
  }
  .power .arcade {
    margin-top: 0;
  }
  .power .arcade .figures {
    height: 480px;
  }
  .power .arcade figure {
    transform: translate(-182px, -6px);
  }
  .power .arcade figure img {
    width: 676px;
  }
  .power .arcade figcaption {
    transform: scale(0.8) translate(316px, 528px);
  }
  .power .create .figures {
    height: 588px;
  }
  .power .create figure {
    transform: translate(4px, -36px);
  }
  .power .create figure img {
    width: 820px;
  }
  .power .create figcaption {
    transform: scale(0.8) translate(420px, 747px);
  }

  /* Display */
  .display {
    margin-top: 180px;
  }
  .display .notes h1 {
    width: 400px;
    height: 240px;
    transform: translate(120px, 0);
  }
  .display .notes .figures {
    height: 530px;
  }
  .display .notes figure {
    transform: translate(80px, -10px);
  }
  .display .notes figure img {
    width: 676px;
  }
  .display .notes figcaption {
    transform: scale(0.8) translate(540px, -34px);
  }
  .display .shareplay .figures {
    height: 330px;
  }
  .display .shareplay figure {
    transform: translate(-178px, 0);
  }
  .display .shareplay figure img {
    width: 682px;
  }
  .display .shareplay figcaption {
    transform: scale(0.8) translate(261px, 540px);
  }
  /* Camera */
  .camera {
    margin-top: 165px;
  }
  .camera .stage h1 {
    width: 405px;
    height: 270px;
    transform: translate(0, 0);
  }
  .camera .stage .info {
    top: 0;
  }
  .camera .stage .figures {
    height: 500px;
  }
  .camera .stage figure img {
    width: 678px;
  }
  .camera .stage video {
    top: 23px;
    left: 50px;
    transform: scale(0.65);
    transform-origin: 0 0;
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(276px, -88px) rotate(-3deg);
  }
  .camera .stage figcaption {
    transform: scale(0.8) translate(-136px, 306px);
  }
  .camera .edit .figures {
    height: auto;
  }
  .camera .edit figure {
    transform: translate(40px, 0);
  }
  .camera .edit figure img {
    width: 509px;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 742px);
  }

  /* Wireless */
  .wireless {
    margin-top: 140px;
  }
  .wireless .facetime h1 {
    width: 450px;
    height: 200px;
    transform: translate(70px, 0);
  }
  .wireless .facetime .figures {
    height: 530px;
  }
  .wireless .facetime figure {
    transform: translate(0, 0);
  }
  .wireless .facetime figure img {
    width: 769px;
  }
  .wireless .facetime figcaption {
    transform: scale(0.8) translate(670px, -60px);
  }
  .wireless .files figure img {
    width: 676px;
  }
  .wireless .files figcaption {
    transform: scale(0.8) translate(43px, 520px);
  }

  /* Accessories */
  .accessories {
    margin-top: 120px;
  }
  .accessories h1 {
    width: 384px;
    height: 243px;
  }
  .accessories .figures {
    height: 700px;
  }
  .accessories figure {
    transform: translate(12px, 0);
  }
  .accessories figure img {
    width: 712px;
  }
  .accessories figcaption .caption-memo {
    transform: scale(0.8) translate(677px, -60px);
  }
  .accessories figcaption .caption-supports {
    transform: scale(0.8) translate(101px, 650px);
  }

  /* Ipados */
  .ipados {
    margin-top: 100px;
  }
  .ipados h1 {
    width: 357px;
    height: 274px;
    margin: 0;
  }
  .ipados .infos {
    margin-top: -98px;
  }
  .ipados .figures {
    height: 520px;
  }
  .ipados .figure-split-view figure {
    transform: translate(-17px, -187px);
  }
  .ipados .figure-split-view figure img {
    width: 441px;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(30px, -50px);
  }
  .ipados .figure-widgets figure {
    transform: translate(180px, 3px);
  }
  .ipados .figure-widgets figure img {
    width: 441px;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(152px, 345px);
  }
  .ipados .figure-quick-note figure {
    transform: translate(-346px, 119px);
  }
  .ipados .figure-quick-note figure img {
    width: 333px;
  }
  .ipados .figure-quick-note figcaption {
    transform: scale(0.8) translate(350px, 310px);
  }
  /* Apps */
  .apps {
    margin-top: 120px;
  }
  .apps h1 {
    width: 390px;
    height: 208px;
    transform: none;
  }
  .apps .infos {
    margin-left: 0;
  }
  .apps .info {
    max-width: 404px;
  }
  .apps .figures {
    height: 450px;
  }
  .apps .figure-masterclass figure {
    transform: translate(438px, -264px);
  }
  .apps .figure-masterclass figure img {
    width: 330px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(6px, 480px);
  }
  .apps .figure-adobe figure {
    transform: translate(-230px, 20px);
  }
  .apps .figure-adobe figure img {
    width: 438px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(324px, 355px);
  }
  .apps .figure-fantasian figure {
    transform: translate(-40px, 160px);
  }
  .apps .figure-fantasian figure img {
    width: 438px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(14px, 339px);
  }
  .apps .figure-books figure {
    transform: translate(42px, -94px);
  }
  .apps .figure-books figure img {
    width: 330px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(253px, 493px);
  }
  .apps .figure-goodnotes figure {
    transform: translate(3px, 28px);
  }
  .apps .figure-goodnotes figure img {
    width: 346px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(5px, 483px);
  }
}

/******************************
****** 740px 이상: 모바일 ******
******************************/
@media (max-width: 740px) {
  /* Common */
  .links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  a.link {
    font-size: 17px;
  }
  /* Common / info */
  .info {
    max-width: none;
    padding: 0 20px;
  }
  .infos--large .info {
    max-width: none;
  }
  .info a.link {
    font-size: 17px;
  }
  /* Common / feature */
  .feature {
    flex-direction: column;
  }

  /* Header */
  header::before {
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-header);
    transition: 0.4s;
  }
  header ul.menu > li {
    display: none;
  }
  header ul.menu > li.menu-starter,
  header ul.menu > li.apple-logo,
  header ul.menu > li.basket-starter {
    display: flex;
  }
  header ul.menu > li.menu-starter span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: var(--color-white);
    margin-bottom: 6px;
    transition: 0.4s;
  }
  header ul.menu > li.menu-starter span:last-child {
    margin-bottom: 0;
  }
  header .search-wrap {
    padding: 0 20px 14px;
    border-bottom: 1px solid var(--color-header);
    box-sizing: border-box;
    top: var(--header-height);
  }
  header .search {
    max-width: 590px;
  }
  header .search .shadow {
    display: none;
  }
  header .search .textfield {
    border-radius: 10px;
    background-color: #1d1d1d;
    width: 100%;
    transition: 0.2s;
  }
  header .search .search-closer {
    display: none;
  }
  header .search .search-canceler {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: var(--color-link);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
  }
  header .search input,
  header .search .search-icon,
  header .search .autocompletes h3,
  header .search .autocompletes li {
    transform: translate(0, 0);
  }
  header .search .autocompletes {
    top: 58px;
    padding: 26px 0 20px;
    background-color: transparent;
    transition: 0.3s;
    transform: translate(0, -100px);
    visibility: hidden;
    opacity: 0;
  }
  header .search .autocompletes ul li {
    border-bottom: 1px solid var(--color-header);
  }
  header .search .autocompletes ul li:last-child {
    border-bottom: none;
  }
  header .search .autocompletes ul li a {
    padding: 16px 0 16px 16px;
    color: var(--color-font-middlegray);
  }
  header .search .autocompletes ul li:hover a {
    background-color: transparent;
    color: var(--color-link);
  }
  header .clone-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 103px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.4s;
    transform: translate(0, -50px);
  }
  header .clone-menu ul {
    max-width: 590px;
    margin: 4px auto;
  }
  header .clone-menu ul li {
    border-bottom: 1px solid var(--color-header);
  }
  header .clone-menu ul li:last-child {
    border-bottom: none;
  }
  header .clone-menu ul li a {
    display: block;
    padding: 16px 0;
    color: var(--color-font-middlegray);
    font-size: 14px;
  }
  header .clone-menu ul li:hover a {
    color: var(--color-white);
  }
  header.menuing {
    background-color: var(--color-black);
  }
  header.menuing::before {
    height: 100vh;
    background-color: var(--color-black);
  }
  header.menuing ul.menu > li.menu-starter span:first-child {
    transform: translate(0, 3.5px) rotate(45deg);
  }
  header.menuing ul.menu > li.menu-starter span:last-child {
    transform: translate(0, -3.5px) rotate(-45deg);
  }
  header.menuing .search-wrap {
    opacity: 1;
    visibility: visible;
  }
  header.menuing .clone-menu {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile {
    transform: translate(0, -30px);
  }
  header.menuing.searching--mobile .search .textfield {
    width: calc(100% - 55px);
  }
  header.menuing.searching--mobile .search .autocompletes {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile .search .search-canceler {
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile .clone-menu {
    transform: translate(0, 100px);
    visibility: hidden;
    opacity: 0;
  }

  /* Nav */
  nav .shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-shadow);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
  }
  nav .contents-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-white);
    visibility: hidden;
    transition: 0.4s;
  }
  nav .menu-toggler {
    position: relative;
    width: 30px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  nav .menu-toggler::before,
  nav .menu-toggler::after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 11px;
    height: 1px;
    margin: 0 auto;
    background-color: var(--color-font-darkgray);
    transform: 0.4s;
  }
  nav .menu-toggler::before {
    transform: rotate(40deg);
    left: -9px;
  }
  nav .menu-toggler::after {
    transform: rotate(-40deg);
    right: -9px;
  }
  nav .menu {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    display: block;
    width: 100%;
    padding: 10px 40px 30px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -50px);
    transition: 0.4s;
  }
  nav .menu li {
    border-bottom: 1px solid var(--color-border);
  }
  nav .menu li:last-child {
    border-bottom: none;
  }
  nav .menu li a {
    padding: 16px 0;
    font-size: 14px;
  }

  /*  Nav.menuing */
  nav.menuing .shadow {
    visibility: visible;
    opacity: 1;
  }
  nav.menuing .contents-bg {
    height: 232px;
    visibility: visible;
  }
  nav.menuing .menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  nav.menuing .menu-toggler::before {
    transform: rotate(-40deg);
  }
  nav.menuing .menu-toggler::after {
    transform: rotate(40deg);
  }

  /* Hero */
  .hero .inner {
    padding-top: 40px;
  }
  .hero h1 {
    position: static;
    margin: 0 auto 40px;
    transform: none;
  }
  .hero .figures {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 100px;
  }
  .hero figure {
    position: relative;
    transform: none;
  }
  .hero figure img {
    width: 337px;
  }
  .hero figure figcaption .caption-camera {
    width: 180px;
    height: 37px;
    background-image: url("../images/hero_ipad_caption_camera_mobile.png");
    transform: scale(1) translate(21px, 368px);
  }
  .hero figure figcaption .caption-chip {
    transform: scale(0.8) translate(248px, 42px);
  }
  .hero figure figcaption .caption-storage {
    transform: scale(0.8) translate(288px, 168px);
  }
  .hero h2 {
    width: 295px;
    height: 185px;
    background-image: url("../images/hero_headline_mobile.png");
  }
  .hero p.pricing {
    font-size: 20px;
  }
  .hero p.description {
    width: auto;
    font-size: 17px;
  }

  /* Power */
  .power .multiple-apps h1 {
    margin: 0 auto;
    transform: none;
  }
  .power .multiple-apps .figures {
    height: 340px;
    margin-top: 50px;
  }
  .power .multiple-apps figure {
    width: 100%;
    transform: translate(20px, 0);
  }
  .power .multiple-apps figure img {
    width: 462px;
    margin: 0 auto;
  }
  .power .multiple-apps figcaption {
    transform: scale(0.8) translate(112px, -45px);
  }
  .power .arcade {
    margin-top: 30px;
  }
  .power .arcade .figures {
    height: auto;
    margin-top: 20px;
    order: 1;
  }
  .power .arcade figure {
    position: relative;
    transform: translate(20px, 0);
  }
  .power .arcade figure img {
    width: 458px;
    margin: 0 auto;
  }
  .power .arcade figcaption {
    transform: scale(0.8) translate(316px, 368px);
  }
  .power .create .figures {
    height: auto;
    margin-top: 20px;
  }
  .power .create figure {
    transform: translate(100px, 0);
  }
  .power .create figure img {
    width: 535px;
  }
  .power .create figcaption {
    transform: scale(0.8) translate(254px, 486px);
  }

  /* Display */
  .display {
    margin-top: 520px;
  }
  .display .notes h1 {
    width: 290px;
    height: 308px;
    background-image: url("../images/display_headline_mobile.png");
    margin: 0 auto;
    transform: none;
  }
  .display .notes .figures {
    height: auto;
    margin-top: 60px;
  }
  .display .notes figure {
    width: 100%;
    transform: translate(20px, 0);
  }
  .display .notes figure img {
    width: 458px;
    margin: 0 auto;
  }
  .display .notes figcaption {
    transform: scale(0.8) translate(220px, -45px);
  }
  .display .shareplay {
    margin-top: 400px;
  }
  .display .shareplay .figures {
    height: auto;
    order: 1;
  }
  .display .shareplay figure {
    width: 100%;
    transform: translate(20px, 0);
  }
  .display .shareplay figure img {
    width: 460px;
    margin: 0 auto;
  }
  .display .shareplay figcaption {
    transform: scale(0.8) translate(261px, 358px);
  }

  /* Camera */
  .camera {
    margin-top: 420px;
  }
  .camera .stage h1 {
    width: 304px;
    height: 350px;
    background-image: url("../images/camera_headline_mobile.png");
    margin: 0 auto;
  }
  .camera .stage .info {
    position: static;
    margin-top: 30px;
  }
  .camera .stage .figures {
    height: auto;
    margin-top: 64px;
  }
  .camera .stage figure {
    width: 100%;
    transform: translate(20px, 0);
  }
  .camera .stage figure img {
    width: 450px;
  }
  .camera .stage figure img.video-image {
    margin: 0 auto;
  }
  .camera .stage video {
    top: 50%;
    left: 50%;
    transform: scale(0.44) translate(-58.5%, -62%);
    margin: 0 auto;
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(38%, -51px) rotate(-3deg);
  }
  .camera .stage figcaption {
    width: 175px;
    height: 43px;
    background-image: url("../images/camera_hardware_caption_mobile.png");
    transform: scale(1) translate(110px, -40px);
  }
  .camera .edit.feature {
    margin-top: 400px;
  }
  .camera .edit .figures {
    margin-top: 30px;
  }
  .camera .edit figure {
    width: 100%;
  }
  .camera .edit figure img {
    width: 343px;
    margin: 0 auto;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 502px);
  }

  /* Wireless */
  .wireless {
    margin-top: 540px;
  }
  .wireless .facetime h1 {
    width: 312px;
    height: 223px;
    background-image: url("../images/wireless_headline_mobile.png");
    margin: 0 auto;
    transform: none;
  }
  .wireless .facetime .figures {
    height: auto;
    margin-top: 64px;
  }
  .wireless .facetime figure {
    width: 100%;
  }
  .wireless .facetime figure img {
    width: 490px;
    margin: 0 auto;
  }
  .wireless .facetime figcaption {
    transform: scale(0.8) translate(120px, -45px);
  }
  .wireless .files .figures {
    margin-top: 30px;
  }
  .wireless .files figure {
    width: 100%;
    transform: translate(20px, 0);
  }
  .wireless .files figure img {
    width: 450px;
    margin: 0 auto;
  }
  .wireless .files figcaption {
    transform: scale(0.8) translate(73px, 355px);
  }
  .wireless .files.feature {
    margin-top: 400px;
  }
  /* Accessories */
  .accessories {
    margin-top: 400px;
  }
  .accessories h1 {
    width: 300px;
    height: 190px;
  }
  .accessories .figures {
    height: auto;
    margin-top: 64px;
  }
  .accessories figure {
    width: 100%;
  }
  .accessories figure img {
    width: 380px;
    margin: 0 auto;
  }
  .accessories figcaption .caption-memo {
    transform: scale(0.8) translate(186px, -58px);
  }
  .accessories figcaption .caption-supports {
    width: 160px;
    height: 44px;
    background-image: url("../images/accessories_caption_supports_mobile.png");
    transform: scale(1) translate(31px, 335px);
  }
  .accessories .infos {
    margin-top: 500px;
  }
  /* Ipados */
  .ipados h1 {
    width: 300px;
    height: 227px;
    margin: 0 auto;
  }
  .ipados .infos {
    margin-top: 30px;
  }
  .ipados .figures {
    display: block;
    height: auto;
  }
  .ipados .figures > div {
    display: flex;
    justify-content: center;
  }
  .ipados .figure-split-view figure {
    width: 100%;
    transform: translate(0%, 20%);
  }
  .ipados .figure-split-view figure img {
    width: 370px;
    margin: 0 auto;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(39px, -55px);
  }
  .ipados .figure-widgets figure {
    width: 100%;
    transform: translate(20%, 110%);
  }
  .ipados .figure-widgets figure img {
    width: 375px;
    margin: 0 auto;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(252px, 287px);
  }
  .ipados .figure-quick-note figure {
    width: 100%;
    transform: translate(0%, 160%);
  }
  .ipados .figure-quick-note figure img {
    width: 283px;
    margin: 0 auto;
  }
  .ipados .figure-quick-note figcaption {
    width: 76px;
    height: 88px;
    background-image: url("../images/ipados_quick_note_caption_mobile.png");
    transform: scale(1) translate(100%, 250px);
  }

  /* Apps */
  .apps {
    margin-top: 1000px;
  }
  .apps h1 {
    width: 320px;
    height: 169px;
    margin: 0 auto;
  }
  .apps .info {
    max-width: none;
  }
  .apps .figures {
    display: block;
    height: auto;
  }
  .apps .figures > div {
    display: flex;
    justify-content: center;
    height: 240px;
  }
  .apps .figure-masterclass figure {
    width: 100%;
    transform: translate(60%, 40px);
  }
  .apps .figure-masterclass figure img {
    width: 270px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(29px, 400px);
  }
  .apps .figure-adobe figure {
    width: 100%;
    transform: translate(0%, -126px);
  }
  .apps .figure-adobe figure img {
    width: 358px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(233px, 295px);
  }
  .apps .figure-fantasian figure {
    width: 100%;
    transform: translate(19px, -82px);
  }
  .apps .figure-fantasian figure img {
    width: 358px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(24px, 282px);
  }
  .apps .figure-books figure {
    width: 100%;
    transform: translate(-100px, -40px);
  }
  .apps .figure-books figure img {
    width: 270px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(197px, 407px);
  }
  .apps .figure-goodnotes figure {
    width: 100%;
    transform: translate(132px, -110px);
  }
  .apps .figure-goodnotes figure img {
    width: 286px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(24px, -37px);
  }
}
