/*
* BreakPoints
* 1000px 이상: 태블릿
* 740px 이상: 모바일
*/

@media (max-width: 1000px) {
  header .inner {
    padding: 0 10px;
  }
}

@media (max-width: 740px) {
  header::before {
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-header);
    transition: 0.4s;
  }
  header ul.menu > li {
    display: none;
  }
  header ul.menu > li.apple-logo,
  header ul.menu > li.basket-starter,
  header ul.menu > li.menu-starter {
    display: flex;
  }
  header ul.menu > li.menu-starter span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: var(--color-white);
    margin-bottom: 6px;
    transition: 0.4s;
  }
  header ul.menu > li.menu-starter span:last-child {
    margin-bottom: 0;
  }
  header.menuing {
    background-color: var(--color-black);
  }
  header.menuing::before {
    height: 100vh;
    background-color: var(--color-black);
  }
  header.menuing ul.menu > li.basket-starter {
    opacity: 0;
    visibility: hidden;
  }
  header.menuing ul.menu > li.menu-starter span:first-child {
    transform: translate(0, 3.5px) rotate(45deg);
  }
  header.menuing ul.menu > li.menu-starter span:last-child {
    transform: translate(0, -3.5px) rotate(-45deg);
  }
}
